<div class="uk-sticky-placeholder" style="height: 42px; margin: 0px;">
	<nav class="uk-navbar uk-navbar-attached" data-uk-sticky>
		{{#if @blog.logo}}
		<a href="{{@blog.url}}" title="{{@blog.title}}">
			<img src="{{@blog.logo}}" alt="{{@blog.title}} Logo" title="{{@blog.title}} Logo" class="uk-navbar-brand" />
		</a>
		{{else}}
			<a href="{{@blog.url}}" title="{{@blog.title}}" class="uk-navbar-brand">{{@blog.title}}</a>
		{{/if}}
		<div class="uk-navbar-flip">
			<a class="uk-animation-hover" data-uk-dropdown="{mode:'click'}">
				<i class="fa fa-bars" aria-hidden="true"></i>
			</a>
			<ul class="uk-navbar-nav uk-margin-right-remove">
			{{#foreach navigation}}
		    	<li class="{{#if current}} uk-active{{/if}} uk-hidden-small" role="presentation"><a href="{{url absolute="true"}}" title="{{label}}">{{label}}</a></li>
			{{/foreach}}
			</ul>
		</div>
	</nav>
</div>
